---
import { StringMap, changeLanguage, setDefaultNamespace, t } from 'i18next'
import Base from '@layouts/Base.astro'
import Contact from '@components/sections/Contact.astro'
import SmallCard from '@components/cards/Small.astro'

changeLanguage('fr')

setDefaultNamespace('skills')
const content = {
  title: t('title'),
  htitle: t('htitle'),
  skills: t('skills', { returnObjects: true }),
  contactDescription: t('home:contactDescription'),
  contactCTA: t('home:contactCTA')
}
---

<Base forceUseDefaultOgTitle title={content.title}>
  <h1 class="text-[48px] font-semibold text-white">{content.htitle}</h1>
  <section class="w-full grid grid-flow-row grid-cols-0 md:grid-cols-2">
    {
      content.skills.map(item => (
        <SmallCard
          title={item.name}
          description={item.type}
          icon={item.icon}
          iconFormat="svg"
          iconAlt={item.name}
          url={item.url}
          ext
        />
      ))
    }
  </section>
  <Contact description={content.contactDescription} Btn={content.contactCTA} />
</Base>
