---
import i18next, { changeLanguage, setDefaultNamespace, t } from 'i18next'
import { getArticles } from '@app/utils'
import Base from '@layouts/Base.astro'
import SmallCard from '@components/cards/Small.astro'

changeLanguage('fr')

const stacks = await getArticles('stack', i18next.language)
setDefaultNamespace('stack')
const content = {
  title: t('title'),
}
---

<Base forceUseDefaultOgTitle title={content.title}>
  <h1 class="text-[48px] font-semibold text-white">{content.title}</h1>
  <section class="w-full grid grid-rows-2 grid-cols-2 gap-0">
    {
      stacks.map(stack => (
        <SmallCard
          title={stack.data.title}
          description={stack.data.description}
          icon={stack.data.icon}
          iconFormat={stack.data.iconFormat}
          iconAlt={stack.data.iconAlt}
          url={'/stack/' + stack.slug}
        />
      ))
    }
  </section>
</Base>
